{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    We could not find any results for <strong>{{ query }}</strong>. Did you mean:
    <br>
    <ul> 
        {% for result in results %}
            <li><a href="{% url 'content' title=result %}">{{ result }}</a></li>
        {% empty %}
            {% for entry in entries %}
                <li><a href="{% url 'content' title=entry %}">{{ entry }}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}